button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid yellowgreen;
    background-color: rgb(147, 228, 250);
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: rgb(148, 137, 249);
}
h1{
    font-size: larger;
}